/* Set fonts */
@font-face {
	font-family: 'Norse Bold';
	src: url('./assets/fonts/Norse-Bold.otf') format('opentype');
}

/* Reset default */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	overflow-y: hidden;
	font-family: 'Norse Bold', sans-serif;
}

:root {
	--primary-color: #596d48;
	--secondary-color: #f9fafb;
	--main-text-color: #000000;
	--secondary-text-color: #ffffff;
	--input-focus-border-color: #2e5bdb;
	--input-error-border-color: #d16868;
	--box-shadow-color: #e8e9e9;
}

.signup-form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.signup-image {
	width: 33%;
}

.signup-image img {
	max-height: 100%;
	width: 100%;
	object-fit: cover;
}

.banner {
	position: absolute;
	top: 150px;
	left: 0;
	width: 33%;
	height: 153px; /* adjust the height to your needs */
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	color: white;
}

.banner img {
	max-width: 90px;
	max-height: 100%;
}

.banner h2 {
	margin-left: 9px;
	font-size: 90px;
}

.signup-form-container {
	width: 67%;
	padding: 20px;
	background-color: var(--input-error-border-color);
}
