/* Set fonts */
@font-face {
	font-family: 'Norse Bold';
	src: url('./assets/fonts/Norse-Bold.otf') format('opentype');
}

/* Reset default */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	/* overflow-y: hidden; */
	font-family: 'Norse Bold', sans-serif;
}

:root {
	--primary-color: #596d48;
	--secondary-color: #f9fafb;
	--main-text-color: #000000;
	--secondary-text-color: #ffffff;
	--input-focus-border-color: #2e5bdb;
	--input-error-border-color: #d16868;
	--box-shadow-color: #e8e9e9;
}

.container {
	display: grid;
	grid-template-columns: 0.7fr 1.3fr;
	height: 100vh;
}

.left {
	background-image: url('./assets/img/halie-west-25xggax4bSA-unsplash.jpg');
	background-size: cover;
	background-position: center center;
}

.right {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 1rem;
}

.col1 {
	background-color: #eee;
}

.col2 {
	background-color: #ddd;
}

.col3 {
	background-color: #ccc;
}
